<main>
    <!-- Start Product Details -->
    <section class="flex flex-col items-center justify-center gap-5 mt-20 p-20 w-full">
        <!-- Start Details -->
        <i class="fa-solid fa-flag  text-6xl md:text-9xl"></i>
        <h1 class="font-bold text-6xl md:text-9xl">404</h1>
        <h3 class="font-bold text-xl md:text-2xl whitespace-nowrap">Page Not Found</h3>

        <a [routerLink]="['/home']"
            class="uppercase whitespace-nowrap flex items-center justify-center gap-3 rounded-sm bg-black text-white px-2 py-2 w-48 transition hover:bg-transparent hover:text-black hover:border">

            continue shopping
        </a>
        <!-- End Details -->
    </section>
    <!-- End Product Details -->
</main>