<section class="py-24 relative">
    <div class="w-full max-w-7xl mx-auto px-4 md:px-8">
        <h2 class="font-manrope font-extrabold text-3xl lead-10 text-black mb-9">Order History</h2>

        <div class="flex sm:flex-col lg:flex-row sm:items-center justify-between">
            <ul class="flex max-sm:flex-col sm:items-center gap-x-14 gap-y-3">
                <li
                    class="font-medium text-lg leading-8 cursor-pointer text-indigo-600 transition-all duration-500 hover:text-indigo-600">
                    All Order</li>
                <li
                    class="font-medium text-lg leading-8 cursor-pointer text-black transition-all duration-500 hover:text-indigo-600">
                    Summary</li>
                <li
                    class="font-medium text-lg leading-8 cursor-pointer text-black transition-all duration-500 hover:text-indigo-600">
                    Completed</li>
                <li
                    class="font-medium text-lg leading-8 cursor-pointer text-black transition-all duration-500 hover:text-indigo-600">
                    Cancelled</li>
            </ul>
            <div class="flex max-sm:flex-col items-center justify-end gap-2 max-lg:mt-5">
                <div class="flex items-center gap-3 max-md:mt-5">
                    <a [routerLink]="['/allProducts']"
                        class="rounded-full px-7 py-3 bg-black shadow-sm shadow-transparent text-white font-semibold text-sm transition-all duration-500 hover:shadow-gray-500 hover:bg-gray-700">Shop
                        Now
                    </a>

                </div>
            </div>
        </div>
        <div class="mt-7 border border-gray-300 pt-9">
            <div class="flex flex-col items-start justify-between px-3 md:px-11">
                <div class="data">
                    <p class="font-medium text-lg leading-8 text-black whitespace-nowrap">Order : #10234987</p>
                    <p class="font-medium text-lg leading-8 text-black mt-3 whitespace-nowrap">Order Payment : 18th
                        march 2021</p>
                </div>

                <!-- Shipping Line -->
                <!-- Shipping Progress Bar -->
                <div class="w-full max-w-4xl mx-auto mt-12">
                    <p class="text-xl font-semibold mb-4">Shipping Status</p>

                    <div class="flex items-center gap-2 justify-between">
                        <ng-container *ngFor="let step of shippingSteps; let i = index">
                            <div class="flex items-center gap-2 w-full">
                                <!-- الخط -->
                                <div class="h-2 rounded-full transition-all duration-300 w-full" [ngClass]="{
                        'bg-green-600': i <= getCurrentStep(),
                        'bg-gray-300': i > getCurrentStep()
                      }"></div>

                                <!-- النقطة -->
                                <div class="w-5 h-5 rounded-full border-2 transition-all duration-300" [ngClass]="{
                        'bg-green-600 border-green-600': i <= getCurrentStep(),
                        'bg-white border-gray-300': i > getCurrentStep()
                      }"></div>
                            </div>
                        </ng-container>
                    </div>

                    <!-- العناوين -->
                    <div class="flex justify-between text-xs mt-2 text-gray-700">
                        <div *ngFor="let step of shippingSteps" class="w-full text-center">
                            {{ getStepLabel(step) }}
                        </div>
                    </div>
                </div>

                <div class="mt-4 text-center">
                    <p *ngIf="refundStatus() === 'loading'" class="text-yellow-600">Processing refund...</p>
                    <p *ngIf="refundStatus() === 'success'" class="text-green-600 font-medium">{{ refundMessage() }}</p>
                    <p *ngIf="refundStatus() === 'error'" class="text-red-600 font-medium">{{ refundMessage() }}</p>
                </div>

            </div>
            <svg class="my-9 w-full" xmlns="http://www.w3.org/2000/svg" width="1216" height="2" viewBox="0 0 1216 2"
                fill="none">
                <path d="M0 1H1216" stroke="#D1D5DB" />
            </svg>

            <div class="flex max-lg:flex-col items-center gap-8 lg:gap-24 px-3 md:px-11">
                <div class="grid grid-cols-4 w-full">
                    <div class="col-span-4 sm:col-span-1">
                        <img src="https://pagedone.io/asset/uploads/1705474774.png" alt=""
                            class="max-sm:mx-auto object-cover">
                    </div>
                    <div
                        class="col-span-4 sm:col-span-3 max-sm:mt-4 sm:pl-8 flex flex-col justify-center max-sm:items-center">
                        <h6 class="font-manrope font-semibold text-2xl leading-9 text-black mb-3 whitespace-nowrap">
                            Decoration Flower
                            port</h6>
                        <p class="font-normal text-lg leading-8 text-gray-500 mb-8 whitespace-nowrap">By: Dust
                            Studios</p>
                        <div class="flex items-center max-sm:flex-col gap-x-10 gap-y-3">
                            <span class="font-normal text-lg leading-8 text-gray-500 whitespace-nowrap">Size:
                                s</span>
                            <span class="font-normal text-lg leading-8 text-gray-500 whitespace-nowrap">Qty:
                                1</span>
                            <p class="font-semibold text-xl leading-8 text-black whitespace-nowrap">Price $80.00</p>
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-around w-full  sm:pl-28 lg:pl-0">
                    <div class="flex flex-col justify-center items-start max-sm:items-center">
                        <p class="font-normal text-lg text-gray-500 leading-8 mb-2 text-left whitespace-nowrap">
                            Status</p>
                        <p class="font-semibold text-lg leading-8 text-green-500 text-left whitespace-nowrap">
                            Delivered</p>
                    </div>
                    <div class="flex flex-col justify-center items-start max-sm:items-center">
                        <p class="font-normal text-lg text-gray-500 leading-8 mb-2 text-left whitespace-nowrap">
                            Delivery Expected by</p>
                        <p class="font-semibold text-lg leading-8 text-black text-left whitespace-nowrap">23rd March
                            2021
                        </p>
                        <button
                            class="flex items-center gap-3 py-10 pr-8 sm:border-r border-gray-300 font-normal text-xl leading-8 text-gray-500 group transition-all duration-500 hover:text-indigo-600">
                            <svg width="40" height="41" viewBox="0 0 40 41" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path class="stroke-gray-600 transition-all duration-500 group-hover:stroke-indigo-600"
                                    d="M14.0261 14.7259L25.5755 26.2753M14.0261 26.2753L25.5755 14.7259" stroke=""
                                    stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            cancel product
                        </button>
                    </div>
                </div>

            </div>

            <svg class="my-9 w-full" xmlns="http://www.w3.org/2000/svg" width="1216" height="2" viewBox="0 0 1216 2"
                fill="none">
                <path d="M0 1H1216" stroke="#D1D5DB" />
            </svg>

            <div class="flex max-lg:flex-col items-center gap-8 lg:gap-24 px-3 md:px-11">
                <div class="grid grid-cols-4 w-full">
                    <div class="col-span-4 sm:col-span-1">
                        <img src="https://pagedone.io/asset/uploads/1705474672.png" alt=""
                            class="max-sm:mx-auto object-cover">
                    </div>
                    <div
                        class="col-span-4 sm:col-span-3 max-sm:mt-4 sm:pl-8 flex flex-col justify-center max-sm:items-center">
                        <h6 class="font-manrope font-semibold text-2xl leading-9 text-black mb-3 whitespace-nowrap">
                            Decoration’s Item</h6>
                        <p class="font-normal text-lg leading-8 text-gray-500 mb-8 whitespace-nowrap">By: Dust
                            Studios</p>
                        <div class="flex items-center max-sm:flex-col gap-x-10 gap-y-3">
                            <span class="font-normal text-lg leading-8 text-gray-500 whitespace-nowrap">Size:
                                s</span>
                            <span class="font-normal text-lg leading-8 text-gray-500 whitespace-nowrap">Qty:
                                1</span>
                            <p class="font-semibold text-xl leading-8 text-black whitespace-nowrap">Price $80.00</p>
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-around w-full sm:pl-28 lg:pl-0">
                    <div class="flex flex-col justify-center items-start max-sm:items-center">
                        <p class="font-normal text-lg text-gray-500 leading-8 mb-2 text-left whitespace-nowrap">
                            Status</p>
                        <p class="font-semibold text-lg leading-8 text-red-500 text-left whitespace-nowrap">
                            Cancelled</p>
                    </div>
                    <div class="flex flex-col justify-center items-start max-sm:items-center">
                        <p class="font-normal text-lg text-gray-500 leading-8 mb-2 text-left whitespace-nowrap">
                            Delivery Expected by</p>
                        <p class="font-semibold text-lg leading-8 text-black text-left whitespace-nowrap">23rd March
                            2021
                        </p>

                    </div>
                </div>

            </div>
            <svg class="mt-9 w-full" xmlns="http://www.w3.org/2000/svg" width="1216" height="2" viewBox="0 0 1216 2"
                fill="none">
                <path d="M0 1H1216" stroke="#D1D5DB" />
            </svg>

            <div class="px-3 md:px-11 flex items-center justify-between max-sm:flex-col-reverse">
                <div class="flex max-sm:flex-col-reverse items-center">
                    <button (click)="openRefundForm(1)"
                        class="flex items-center gap-3 py-10 pr-8 sm:border-r border-gray-300 font-normal text-xl leading-8 text-gray-500 group transition-all duration-500 hover:text-indigo-600">
                        <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="stroke-gray-600 transition-all duration-500 group-hover:stroke-indigo-600"
                                d="M14.0261 14.7259L25.5755 26.2753M14.0261 26.2753L25.5755 14.7259" stroke=""
                                stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        cancel order
                    </button>


                    <p class="font-normal text-xl leading-8 text-gray-500 sm:pl-8">Payment Is Succesfull</p>
                </div>
                <p class="font-medium text-xl leading-8 text-black max-sm:py-4"> <span class="text-gray-500">Total
                        Price: </span> &nbsp;$200.00
                </p>
            </div>
            <!-- Refund Reason Form -->
            <div *ngIf="showRefundForm" class="bg-gray-100 p-4 rounded mt-4 border border-gray-300 max-w-lg mx-auto">
                <h3 class="text-lg font-semibold mb-2 text-black">Why are you cancelling the order?</h3>

                <textarea [(ngModel)]="refundReason"
                    class="w-full h-24 p-3 border border-gray-300 rounded-md resize-none focus:outline-none focus:ring-2 focus:ring-indigo-500"
                    placeholder="Enter your reason here..."></textarea>

                <div class="mt-3 flex gap-2">
                    <button (click)="submitRefund()"
                        class="bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-700 transition-all text-sm font-medium">
                        Submit
                    </button>
                    <button (click)="showRefundForm = false"
                        class="text-gray-500 hover:text-black text-sm font-medium underline">
                        Cancel
                    </button>
                </div>
            </div>

        </div>


    </div>




</section>