/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@font-face {
    font-family: 'ArchivoNarrow';
    src: url('assets/fonts/ArchivoNarrow-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
/* تخلي خلفية الديالوج شفافة وتشيل الحافة */
::ng-deep .no-padding-dialog .mat-dialog-container {
  padding: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

/* اختيار إضافي لو عايز تخفف الخلفية اللي ورا البوب أب */
::ng-deep .custom-backdrop {
  background: rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'ArchivoNarrow', sans-serif !important;
    background-color: #ffffff;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* === Scrollbar Styles === */

/* للـ WebKit Browsers فقط (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 8px;
    /* العرض */
    height: 8px;
    /* الطول للـ horizontal scroll */
}

::-webkit-scrollbar-track {
    background: transparent;

    border-radius: 10px 50px;
    -webkit-border-radius: 10px 50px;
    -moz-border-radius: 10px 50px;
    -ms-border-radius: 10px 50px;
    -o-border-radius: 10px 50px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px 0px;
    -webkit-border-radius: 10px 0px;
    -moz-border-radius: 10px 0px;
    -ms-border-radius: 10px 0px;
    -o-border-radius: 10px 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #000;
    /* عند الـ hover */
}

button {
    cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* ✅ يشيل الخلفية البيضا والـ shadow والـ padding من الدايلوج */
.no-padding-dialog .mat-dialog-container {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

/* ✅ يخلي الخلفية اللي ورا البوب أب شفافة */
.custom-backdrop {
  background-color: rgba(0, 0, 0, 0.3) !important; /* زوّد أو قلل حسب مزاجك */
}
